@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome to the 7 Habits Task Manager</h1>
    <p>Use the navigation bar above to view your Task Quadrants or add a new task.</p>
</div>